<h1>Utilities</h1>

<ul>
  <li><a href='/utilities/stock'> 주식 정보 보기 </a></li>
  <li><a href='/utilities/lotto'> 로또 추첨 하기 </a></li>
  <li><a href='/utilities/weather'>날씨 정보 보기 </a></li>
</ul>
<p><a href="/utilities/get_stock">Get Stock info</a></p>
<p></p>
<p></p>
